Flask>=2.2.2
flask-basicauth>=0.2.0
opencv-python>=4.5.5.64

# Note:
# - The Picamera2 library is specific to Raspberry Pi OS.
# - For Raspberry Pi 3B+ with an Arducam 8MP IMX219 camera running Bookworm, additional installation steps may be required.
# - Please refer to the official Picamera2 and Arducam documentation for detailed installation instructions.
